
<div class="container">
<h1 class="mt-4" style="text-align: center;">Episode List</h1>
        <div class="row">
            <div class="col-3 my-3">
                
            <select ng-model="sortBy" class="form-control" ng-change="filter()">

              <option value="name">Name</option>
              <option value="characters">Characters</option>
            
            </select>

        </div>
        
        
        


		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Episode</th>
				</tr>
			</thead>
			<tbody ng-repeat="result in response.results ">
				<tr>
					<th scope="row">{{$index}}</th>
					<td><a href="#/details/{{result.id}}">{{result.name}}</a></td>
					<td>{{result.episode}}</td>
				</tr>
			
				
			</tbody>
		</table>


	</div>

     <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></ul>        
    </div>

